@media screen and (max-width: 1024px) {

	.postid-35 {
		.featured-image {
			background-position: center !important;
		}
	}

	.postid-9681 {
		.featured-image {
			background-position: 80% center !important;
		}
	}

	.faq-section {
		background-position: left center !important;
	}
}