@font-face {
    font-family: 'PFFuturaNeu';
    src: url("../fonts/PFFuturaNeu-Book.eot") format("eot");
    src: url("../fonts/PFFuturaNeu-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/PFFuturaNeu-Book.woff") format("woff"), url("../fonts/PFFuturaNeu-Book.ttf") format("truetype"), url("../fonts/PFFuturaNeu-Book.svg#PFFuturaNeu-Book") format("svg");
    font-weight: 300; // Light
    font-style: normal
}
@font-face {
    font-family: 'PFFuturaNeu';
    src: url("../fonts/PFFuturaNeuMedium-Regular.eot") format("eot");
    src: url("../fonts/PFFuturaNeuMedium-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFFuturaNeuMedium-Regular.woff") format("woff"), url("../fonts/PFFuturaNeuMedium-Regular.ttf") format("truetype"), url("../fonts/PFFuturaNeuMedium-Regular.svg#PFFuturaNeuMedium-Regular") format("svg");
    font-weight: 400; // Normal
    font-style: normal
}
@font-face {
    font-family: 'PFFuturaNeu';
    src: url("../fonts/PFFuturaNeuSemiBold-Regular.eot") format("eot");
    src: url("../fonts/PFFuturaNeuSemiBold-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFFuturaNeuSemiBold-Regular.woff") format("woff"), url("../fonts/PFFuturaNeuSemiBold-Regular.ttf") format("truetype"), url("../fonts/PFFuturaNeuSemiBold-Regular.svg#PFFuturaNeuSemiBold-Regular") format("svg");
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'PFFuturaNeu';
    src: url("../fonts/PFFuturaNeu-Bold.eot") format("eot");
    src: url("../fonts/PFFuturaNeu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFFuturaNeu-Bold.woff") format("woff"), url("../fonts/PFFuturaNeu-Bold.ttf") format("truetype"), url("../fonts/PFFuturaNeu-Bold.svg#PFFuturaNeu-Bold") format("svg");
    font-weight: 700; // Bold
    font-style: normal
}

$sans-serif: 'PFFuturaNeu', Helvetica, Arial, sans-serif;
$serif:	     Georgia, serif;

h1, .h1 {
    font-size: 43px;
    font-weight: 700;
}

h2, .h2 {
    font-size: 34px;
    font-weight: 300;
}

h3, .h3 {
    font-size: 21px;
    font-weight: 300;
}

h4, .h4 {
    font-weight: 400;
}

.light {
    font-weight: 300;
}
.normal {
    font-weight: 400;
}
.semi-bold {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}