@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
$sans-serif: "Roboto Flex", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

h1,
.h1 {
	font-size: 25px;
	font-weight: 700;

	@media screen and (min-width: 768px) {
		font-size: 43px;
	}
}

h2,
.h2 {
	font-size: 24px;
	font-weight: 300;

	@media screen and (min-width: 768px) {
		font-size: 34px;
	}
}

h3,
.h3 {
	font-size: 21px;
	font-weight: 300;
}

h4,
.h4 {
	font-weight: 400;
}

.light {
	font-weight: 300;
}
.normal {
	font-weight: 400;
}
.semi-bold {
	font-weight: 500;
}
.bold {
	font-weight: 700;
}
