$theme-color:	#fff;

$black:			#000;
$white:			#fff;
$gray:			#eee;
$light-gray:	#f9f9f9;

$red:			#d9534f;
$green:			#009d00;

$blue:			#0266a2;
$dark-blue:		#013161;
$light-blue:	#17addf;
$light-blue-2:	#009ddc;
$lighter-blue:	#d8e6ef;
$sky-blue:		#5bc0de;
$map-blue:		#003e7e;

$text-color:	#5c5b5b;
$link-color:	$blue;
$link-hover:	$dark-blue;

$border-color:	#ccc;