.wrap {
	max-width: 100%;
	width: 1024px;
}

/*************************
 ***** CONTENT PAGES *****
 *************************/

.page-header,
.service-header {
	.featured-image {
		margin: 0 -30px 0 30px;
	}
}