.wrap {
	width: 1400px;
}

/*********************
 ***** STRUCTURE *****
 *********************/

// Layout Elements
.text-editor-content,
.heading-section,
.icon-boxes-content,
.accordion-section {
	padding-left: 40px;
	padding-right: 40px;
}

.service-header,
.page-header {
	.p-1 {
		padding: 5rem;
	}
}

/****************
 ***** FORM *****
 ****************/
.theme-form {
	.wpcf7-response-output {
		left: unset !important;
		margin: 0px 0 0 -440px !important;
	}
}
