$base-color: #163a79;
$icon-color: #e5f8ff;
$highlight-color: #2d9edf;
$notification-color: #2d9edf;
$button-color: #2d9edf;

$menu-submenu-current-text: #2d9edf;
$menu-submenu-text: #b9c4d7;
$menu-submenu-focus-text: #2d9edf;
$menu-submenu-background: #112c5b;

@import "../_admin.scss";
